* {
  box-sizing: border-box;
}
body {
  background: url() no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}
div,
h1 {
  font-size: 5em;
  color: wheat;
}
h1 {
  letter-spacing: 10px;
  font-weight: lighter;
  font-family: Optima, serif;
}
button {
  height: 75px;
  width: 100px;
  border: 5px solid wheat;
  border-radius: 10%;
  font-size: 2.5em;
  color: wheat;
  background-color: transparent;
  outline: none;
}
button:hover {
  background-color: rgba(0,0,0,0.5);
}
